.FooterMainBox{
    direction:row ;
    padding:20px;
    font-size:14px;
    background-color:lightslategray;
    display: flex;

    justify-content: space-between;
  

 }
 .heading{
    font-size: 20px;
    background-color:lightslategray;
 } 
 .hrtag{
    height:0.5px;
    border-width:2px;
    background-color:lightslategray;
 }