.maincontainer{
    border: 1px solid red;
    height: 70px;
    display: flex;
}
.containerone{
    width: 60%;
    text-align: left;
    margin-left: 5px;
}
.containertwo{
    width: 40%;
    display: flex;
    justify-content:flex-end;
    margin-right: 50px;
}
.divspace{
    margin-left: 50px;
}